
/**Reset CSS*/
body, html {
  height: 100%;
  margin: 0;
  overflow: auto;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --background-color: rgb(250,240,230);
  --primary-text-color:#ecfccb
}
body{
  background-color: var(--background-color);
}
main{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
}